:root {
  --bg: #1a1e2d;
  --green: #a5ea9b;
  --pink: #ff61d8;
  --blue: #569cfa;
  --orange: #ffcc81;
  --cyan: #7ed1e2;
}
body {
  height: 100vh;
  width: 100vw;
  background: var(--bg);
  display: box;
  place-content: center;
  align-items: flex-end;
  overflow: auto;
}

.fireworks-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

#fireworks-canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.title-block {
  position: relative;
  z-index: 1;
  text-align: center;
  color: white;
  text-shadow: 0 0 10px #ffffffcc;
}

.title-block h1 {
  font-size: 4rem;
  font-weight: bold;
  color: #a5ea9b;
}

.title-block h2 {
  font-size: 2.5rem;
  font-style: italic;
  color: #ffcc81;
}

.title-block h3 {
  font-size: 1.2rem;
  color: #7ed1e2;
  margin-bottom: 80px; 
}

.recording-frame::before {
  content: '';
  display: block;
  height: 10px;
  width: 100px;
  background: repeating-linear-gradient(
    45deg,
    #a5ea9b,
    #ff61d8 10px,
    #569cfa 10px,
    #7ed1e2 10px,
    #ffcc81 20px
  );
  margin: 0 auto 10px;
  border-radius: 20px;
}
.container {
  width: 80vw;
  height: 80vh;
}
.container svg {
  height: 100%;
  width: 100%;
  overflow: visible;
}
#bongo-cat {
  fill: var(--bg);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 4;
}
#bongo-cat .laptop-cover, #bongo-cat .headphone .band {
  fill: none;
}
#bongo-cat .paw, #bongo-cat .head {
  stroke: var(--orange);
}
#bongo-cat .laptop-keyboard {
  stroke-width: 2;
}
#bongo-cat .terminal-code {
  stroke-width: 5;
}
#bongo-cat .music .note, #bongo-cat .laptop-base, #bongo-cat .laptop-cover, #bongo-cat .paw .pads {
  stroke: var(--pink);
}
#bongo-cat .table line, #bongo-cat .headphone .band, #bongo-cat .headphone .speaker path:nth-child(3) {
  stroke: var(--green);
}
#bongo-cat .terminal-frame, #bongo-cat .laptop-keyboard, #bongo-cat .headphone .speaker path:nth-child(2) {
  stroke: var(--blue);
}
#bongo-cat .terminal-code, #bongo-cat .headphone .speaker path:first-child {
  stroke: var(--cyan);
}


